body {
    background-image: url(./img/quiz\ img\ 1.png);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 2em;
        margin-bottom: 20px;
        color: #333;
}
.para{
    font-size: 1.2em;
        line-height: 1.5;
        color: #555;
        max-width: 800px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-height: 100vh;
     text-align: center;
   
}
.next {
    background-color: #C28172;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, .1);
    scroll-behavior: smooth;
}
.enter {
    display: inline-block;
    margin-left: auto;
    position: relative;
    bottom: 70px;
}

.next:hover {
    background-color: rgba(194, 129, 114, .6);
}